  <div class="divhobbies">
    <div class="hobbie">
      <h4>HOBBIES</h4>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card cardtwo h-100">
            <img src="../assets/music.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Escuchar Musica</h5>
              <p class="card-text">Sin duda es de mis pasatiempos favoritos, Me encanta la musica.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card cardtwo h-100">
            <img src="../assets/bike.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Montar en Bicicleta</h5>
              <p class="card-text">Me Encanta salir a montar bicicleta y conocer lugares nuevos.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card cardtwo h-100">
            <img src="../assets/linux.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">LINUX</h5>
              <p class="card-text">Estoy encantado con linux especialmente Arch Linux mi Distribución favorita.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card cardtwo h-100">
            <img src="../assets/learn.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Aprender Nuevas Cosas</h5>
              <p class="card-text">Me encanta aprender nuevas cosas y más si es de algo que me llama mucho la atención.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card cardtwo h-100">
            <img src="../assets/games.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Video Juegos</h5>
              <p class="card-text">A quien no lo gustan los videojuegos?.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card cardtwo h-100">
            <img src="../assets/series.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Series</h5>
              <p class="card-text">Sinceramente no me rinde ver series y tengo muchas pendientes por ver.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

