  <div class="divskills">
    <div class="skill">
      <h4>HABILIDADES</h4>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../assets/python.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Python</h5>
              <p class="card-text">Python es ideal para empezar en la programación.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="../assets/c++.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">C++</h5>
              <p class="card-text">C++ es un lenguaje multiparadigma y muy veloz.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="../assets/php.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PHP</h5>
              <p class="card-text">PHP es de facil acceso e integración con Bases de Datos.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="../assets/html.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HTML5</h5>
              <p class="card-text">HTML5 es un lenguaje de Marcado y este se usa para mostrar los distintos elementos en las paginas web.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="../assets/css.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CSS</h5>
              <p class="card-text">CSS es el encargado de darle un buen diseño a las paginas web.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="../assets/js.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">JAVASCRIPT</h5>
              <p class="card-text">Este nos ayuda con caracteristicas que nos permiten interactuar con la pagina Web.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

